<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header>
		<h1>Login Page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/">Cars</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="login-section">
			<h2>Login</h2>
            <p style="color:red">{{ . }}</p>
			<form action="/login" method="POST">
                <label for="username">Name:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
			<div class="response">
                
            </div>
		</section>
	</main>

	<footer>
		<p>&copy; 2023 Login Page</p>
	</footer>

	<!-- <script src="../static/js/script.js"></script> -->
</body>
</html>
