<!DOCTYPE html>
<html>
<head>
	<title>Car Selling Website</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	{{if .}}
	<header>
		<h1>Car Selling Website</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/">Cars</a></li>
				{{if .Username }}
					<li>{{ .Username }}</li>
					{{ .UserId}}
				{{else}}
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
				{{ end }}
				
			</ul>
		</nav>
	</header>

	<main>
		<section class="search-section">
			<h2>Search for Cars</h2>
			<form action="/search" method="POST">
				<input type="text" name="productName" placeholder="Search by name ">
				<button type="submit">Search</button>
			</form>
            
		</section>
		
		<section class="filter-section">
			<h2>Filter by Price</h2>
			<form action="/filtred" method="post">
				<label for="min-price">Minimum Price:</label>
				<input type="number" id="min-price" name="minPrice" min="0">
				<label for="max-price">Maximum Price:</label>
				<input type="number" id="max-price"  name="maxPrice" min="0">
				<button type="submit">Filter</button>
			</form>
		</section>

		<section class="cars-section">
			<h2>Cars for Sale</h2>
			<ul>
                
                    {{range .Products}}
                    <li>
                        
                        <h3>{{.Car_name}}</h3>
						Rate: <span>{{.Rate}}</span>
                        <p>{{.Details}}</p>
                        <p>Price: {{.Price}}</p>
						<form action="/product:{{ .Id}}" method="post">
							<input type="text" name="userId" class="userId" style="display: none;">
							<input type="submit" value="read more"> 
						</form>
						
                    </li>
                    {{end}}
                

			</ul>
		</section>
	</main>

	<footer>
		<p>&copy; 2023 Car Selling Website</p>
	</footer>
	{{end}}
	<script>
		userId = "{{ .UserId}}"
		console.log("userid", userId)
		localStorage.setItem("userId",userId)
		let pr = document.querySelectorAll(".userId");
		console.log(pr.length)
		for(let p of pr){
		p.value=userId
	}
	</script>
</body>
</html>
