<!DOCTYPE html>
<html>
<head>
	<title>Car Selling Website</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<div>
		
		
		<h3>{{ .Product.Car_name}}</h3>
		<p>{{ .Product.Details}}</p>
		<p>Price: {{ .Product.Price}}</p>
		
	</div>
	
	<form action="/sendComment" method="post">
		<textarea name="commentText" id="commentText" cols="30" rows="3"></textarea>
		<input type="text" id="userId" name="userId" style="display: none;">
		<input type="text" id="productId" name="productId" style="display: none;">

		<button type="submit">Send</button>
	</form>
	<h2>Comments:</h2>
	{{if .Comments}}
		{{range .Comments}}
		<div>
			
			<p> <b>{{.Name}}</b> :{{.Comment}}</p>
		</div>
			
			
		{{end}}
	{{end}}
<script>
	userId = localStorage.getItem("userId")
	productId = document.URL.split(":")[3]
	
	document.getElementById("userId").value = userId;
	document.getElementById("productId").value =productId;
</script>
	
</body>
</html>
